extends layout

block content
  h1 Books  
  form(method="post" action="/books/search")
    label(for="search") Search for a book:
    input(name="search" type='text')
    input(type="submit" value="GO" id="search_button")
  
  p
    a(href="/books/new" class="button") Create New Book
  table
    thead
      tr
        th= "Title"
        th= "Author"
        th= "Genre"
        th= "Year"
    tbody
        each book in books
            tr
              td
                a(href = "/books/" + book.id)= book.title
              td= book.author
              td= book.genre
              td= book.year
    
  -var buttons = allBooks.length/10
  
  ul
    - for(var i = 0; i < buttons; i++)
      li
        a(href=`/books/page/${i+1}`)
          button(id=`${i+1}`)= i+1
        
