extends layout

block content
  h1 Books  
  h1= pageNumber
  p
    a(href="/books/new" class="button") Create New Book
  table
    thead
      tr
        th= "Title"
        th= "Author"
        th= "Genre"
        th= "Year"
    tbody
        each book in books
            tr
              td
                a(href = "/books/" + book.id)= book.title
              td= book.author
              td= book.genre
              td= book.year
    
  -var buttons = allBooks.length/5
  
  ul
    - for(var i = 0; i < buttons; i++)
      li
        a(href=`/books/page/${i+1}`)
          button(id=`${i+1}`)= i+1
        
